<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
      <ul class="nav pull-right">

        <!-- Navigation Dropdown List -->
        {% assign tab_name = 'Navigation' %}
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include dropdown_list.html %}

        <!-- About Dropdown List -->
        {% assign tab_name = 'About' %}
        {% assign pages_list = site.pages %}
        {% assign group = 'about' %}
        {% include dropdown_list.html %}

      </ul>
    </div>
  </div>
</div>
