@import "pygments.css"

.sidebar-nav {
    padding: 9px 0;
}

.sidebar-nav-fixed {
    position:fixed;
    width:200px;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}
