@import url("pygments.css")

.sidebar-nav {
    padding: 9px 0;
    width:200px;
}

.sidebar-nav-fixed {
    position: auto;
    width:200px;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 800px;
}

code {
    color: #333;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
}
