---
theme :
  name : twitter
layout: about
---

<div class="span3">
  <div class="well" id="resume_sidebar" style="width: 180px;">
    <ul class="nav nav-list">
      <li><h2>Jimmy Lu</h2></li>
      <li class="nav-header">Personal</li>
      <li>3A Software Engineering</li>
      <li><a href="mailto:jimmy.lu.2011@gmail.com">jimmy.lu.2011@gmail.com</a></li>
      <li class="nav-header">Section</li>
      <li class="active"><a href="#skill_sum">Skills Summary</a></li>
      <li class=""><a href="#tech_exp">Technical Experience</a></li>
      <li class=""><a href="#person_proj">Personal Projects</a></li>
      <li class=""><a href="#work_exp">Work Experience</a></li>
      <li class=""><a href="#edu">Education</a></li>
    </ul>
  </div><!--/.well -->

  <div class="alert SidebarFix" id="LabelMeaning" style="width: 190px;">
    <a class="close" data-dismiss="alert">x</a>
    <h4 class="alert-heading"><span class="label label-important">Red</span></h4>
    denotes what I'm most proficient and comfortable at.
  </div>

  <div class="alert alert-info SidebarFix" id="Info" style="width: 190px;">
    <h4 class="alert-heading"><span id="InfoHeader">Info</span></h4>
    <span id="InfoContent">
    </span>
  </div>

</div>

<div class="span7 pull-right">

  {{ content }}

</div>

<script>
  var inAnimation = false;
  $(document).ready(function () {

    // Default stuff
    $('#LabelMeaning').css('top', ($("#resume_sidebar").offset().top +
                                   $("#resume_sidebar").height() + 40) + 'px');
    $('#Info').css('top', ($("#LabelMeaning").offset().top +
                           $("#LabelMeaning").height() + 40) + 'px');

    $('#LabelMeaning').hide();
    $('#Info').hide();

    // Sidebar Animation
    $(window).scroll(function (event) {
      var scrollTop = $(this).scrollTop();
      if (scrollTop > 60 && inAnimation == false) {
        inAnimation = true;

        $('#resume_sidebar').css('position', "fixed");

        var newHeight = ($("#topbar").height() + 20) + 'px';

        $('#resume_sidebar').animate({
          top: newHeight,
        },
        { duration: 500,
          step: function () {
            // If user scrolls back up right away
            // Go back to original location
            scrollTop = $(window).scrollTop();
            if (scrollTop <= 60) {
              // Great trick to "stop the animation",
              // Do animation on the same element again with queue: false
              // and assigning it to its current value with duration 0
              // to override previous animation
              $('#resume_sidebar').animate({
                top: $('#resume_sidebar').top()},
                {duration: 0, queue: false}
              );

              // Resume to relative positioning
              $('#resume_sidebar').css('position', "relative");
              $('#resume_sidebar').css('top', "0");
              inAnimation = false;
            }
          }
        });
      }
      else if (scrollTop <= 60) {
        inAnimation = false;
        $('#resume_sidebar').css('position', "relative");
        $('#resume_sidebar').css('top', "0");
      }
    }); // Sidebar Animation

    // LabelMeaning Animation
    $(window).scroll(function (event) {
      $('#Info').fadeOut();
      var scrollTop = $(this).scrollTop();
      if (scrollTop > ($('#tech_exp').offset().top - 60)) {
          $('#LabelMeaning').fadeIn();
      }
      else {
          $('#LabelMeaning').fadeOut();
      }
    });
  });
</script>
