---
theme :
  name : twitter
layout: about
---

<div class="span4">
  <div class="well sidebar-nav sidebar-nav-fixed" id="resume_sidebar">
    <ul class="nav nav-list">
      <li><h2>Jimmy Lu</h2></li>
      <li class="nav-header">Personal</li>
      <li>3A Software Engineer</li>
      <li><a href="mailto:jimmy.lu.2011@gmail.com">jimmy.lu.2011@gmail.com</a></li>
      <li class="nav-header">Section</li>
      <li class="active"><a href="#skill_sum">Skills Summary</a></li>
      <li class=""><a href="#tech_exp">Technical Experience</a></li>
      <li class=""><a href="#person_proj">Personal Projects</a></li>
      <li class=""><a href="#work_exp">Work Experience</a></li>
      <li class=""><a href="#edu">Education</a></li>
    </ul>
  </div><!--/.well -->
</div>

<div class="span7 pull-right">

  {{ content }}

</div>
